html, body
{
    height: 100%;
    background-color:#191970;
}

body
{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 200;
    color: #454545;
}

h1, h2, h3
{
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-family: 'Century Gothic' , sans-serif;
    color: #221D1D;
}

h2
{
    font-size: 2.5em;
    width: 800px;
}

h4
{
    font-family: 'Century Gothic' , sans-serif;
    font-size: 2.0em;
    color: red;
    width: 800px;
}

p, ol, ul
{
    margin-top: 0px;
}
ol, ul
{
    list-style: none;
}

p
{
    line-height: 200%;
}

a
{
    color: #C81F18;
}

a:hover
{
    text-decoration: none;
}

a img
{
    border: none;
}

img.border
{
}

img.alignleft
{
    float: left;
}

img.alignright
{
    float: right;
}

img.aligncenter
{
    margin: 0px auto;
}

hr
{
    display: none;
}

#corpo
{
    width: 1200px;
    margin: 0px auto;
    padding: 0px 0px 0px 0px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,.2);
    
    
    
}
.direito-inferior{ 
position:relative;
background-image:url(images/sheep.png);
width:100px;
height:15px; 
float: right; 
margin-bottom: 0;
 
right: 0px; 
bottom: 0;
}

.container
{
    width: 980px;
    margin: 0px auto;
    
}

.clearfix
{
    clear: both;
}



#cabeçalho
{
}


#logo
{
    width: 600px;
    height: 400px;
    margin: 0px auto 30px auto;
    color: #000000;
}

#logo h1, #logo p
{
    margin: 0;
    padding: 0;
}

#logo h1
{
    line-height: 100px;
    letter-spacing: -1px;
    text-align: center;
    text-transform: lowercase;
    font-size: 5em;
}

#logo h1 span
{
    color: #1F1F1F;
}

#logo p
{
    text-align: center;
    font-size: 16px;
    color: #595959;
}

#logo p a
{
    color: #595959;
}

#logo a
{
    border: none;
    background: none;
    text-decoration: none;
    color: #C81F18;
}


#menu
{
    width: 1200px;
    height: 50px;
    margin: 0px auto 30px auto;
    color: #000000;
   
}

#menu ul
{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px;
    lista: none;
    line-height: normal;
    text-align: center;
}

#menu li
{
    display: inline-block;
}

#menu a
{
    display: block;
    padding: 15px 40px 15px 40px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Century Gothic' , sans-serif;
    font-size: 12px;
    font-weight: 100;
    color: #000080;
    border: none;
}

/*#menu a:hover, #menu .conteudo_m a
{
    text-decoration: none;
    background-color: #950D08;
    font-size: 21px;
    font-weight: bold;
}

#menu .conteudo_m a
{
    background: #950D08;
    color: #FFFFFF;
}
*/


#texto
{
}


#rodapé
{
    overflow: hidden;
    width: 1000px;
    height: 200px;
    margin: 0 auto;
    padding: 40px 0 15px 0;
}

#rodapé p
{
    margin: 0;
    padding-top: 20px;
    line-height: normal;
    text-align: center;
    text-shadow: 1px 1px 0px #FFFFFF;
    text-transform: uppercase;
    color: #363636;
}

#rodapé a
{
    color: #363636;
}



#rodapé-texto
{
    overflow: hidden;
    width: 1100px;
    padding: 50px;
    background: #ECECEC;
    text-shadow: 1px 1px 0px #FFFFFF;
    color: #666666;
}

#rodapé-texto h2
{
    padding: 0px 0px 30px 0px;
    text-transform: uppercase;
    font-size: 24px;
}

#rodapé-texto #caixa1
{
    float: left;
    width: 600px;
    margin-right: 30px;
}

#rodapé-texto #caixa2
{
    float: left;
    width: 220px;
}

#rodapé-texto #caixa3
{
    float: right;
    width: 220px;
}


#welcome
{
    width: 1100px;
    margin: 0px auto;
    padding: 30px 50px;
}

#welcome .texto
{
    padding: 0px 0px 40px 0px;
    border-bottom: 1px solid #D4D4D4;
}

#welcome .form
{
    padding: 0px 0px 40px 0px;
}

#welcome h2
{
    padding: 0px 0px 20px 0px;
}

#welcome h2 a
{
    text-decoration: none;
    color: #000000;
}

.lista1
{
    margin: 0px;
    padding: 0px;
    lista: none;
}

.lista1 li
{
    padding: 20px 0px 20px 0px;
    border-top: 1px solid #D4D4D4;
}

.lista1 .data
{
    font-weight: bold;
    color: #212121;
}

.lista1 .primeiro
{
    padding-top: 0px;
    border-top: none;
}


.lista2
{
    margin: 0px;
    padding: 0px 0px 20px 0px;
    lista: none;
}

.lista2 li
{
    padding: 10px 0px 10px 0px;
    border-top: 1px solid #D4D4D4;
}


.lista2 .primeiro
{
    padding-top: 0px;
    border-top: none;
}


.link
{
    display: inline-block;
    margin-top: 10px;
    padding: 5px 15px;
    background: #C81F18;
    letter-spacing: 1px;
    text-decoration: none;
    text-shadow: 1px 0px 1px #5C1111;
    text-transform: uppercase;
    color: #FFFFFF;
}
#carrousel
{
    width: 408px;
    height: 500px;
    margin: 0 auto;
}
.slide
{
    border: 1px solid #CCC;
    float: left;
}
.slide ul
{
    list-style: none;
}
.slide ul li
{
    float: left;
    padding: 3px;
    height: 420px;
    font: 13px Verdana, Arial, Georgia;
    color: #666;
}
.slide ul li h1
{
    font: 22px "Times New Roman" , Times, Arial;
    color: #036BAC;
    font-style: italic;
}

.btn_right
{
    width: 64px;
    height: 64px;
    float: right;
    position: relative;
    bottom: 250px;
}

.h6
{
    font-family: Century Gothic;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.noticia
{
    font-family: Century Gothic;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    font-style: italic;
    color: #708090;
    float: right;
    position: relative;
    top: -50px;
    width: 200px;
    height: 10px;
}
.legenda
{
    font-family: Arial;
    font-size: 9px;
    font-style: italic;
    text-align: center;
}
.d_noticia
{
    font-family: Arial;
    font-weight: bold;
}
.endereco
{
    width: 300px;
    height: 300px;
    float: right;
    text-align: left;
}
.endereco_2
{
    width: 100px;
    height: 100px;
    float: right;
    text-align: left;
}

#colunas_divisoria
{
    overflow: hidden;
    width: 1100px;
    margin: 0px auto;
    padding: 0px 50px 30px 50px;
}

#colunas_divisoria .texto
{
    overflow: hidden;
    padding: 0px 0px 50px 0px;
    border-bottom: 1px solid #D4D4D4;
}

#colunas_divisoria h2
{
    padding: 0px 0px 20px 0px;
    color: #000000;
}


#colunas_divisoria #coluna1
{
    float: left;
    width: 300px;
    margin-right: 2px;
}


#welcome .texto2
{
    padding: 0px 0px 40px 0px;
 
}

#colunas_divisoria #coluna2
{
    float: left;
    width: 50px;
    margin-right: 0px;
}

#colunas_divisoria #coluna3
{
    float: left;
    width: 30px;
    margin-right: 10px;
}

